// Comments

.comment-respond {
  border-top: solid 1px $light-grey;
  margin-top: 3em;
  padding-top: 2.5em;
}

.comment-form {

  textarea,
  [type="text"],
  [type="email"] {
    border: solid 1px $light-grey;
    max-width: 20em;
    padding: 8px;
    width: 100%;
  }

  label {
    display: block;
    font-weight: $default-font-bold;
    margin: 0.25em 0;
  }

}

.form-submit .submit {
  @include button;
  border: 0;
}
