// Navigation

.page-banner {

  background-color: $nav-background-color;
  border-bottom: solid 2px $light-grey;
  height: 90px;
  margin: 0;
  padding: 0 10px;

  @include breakpoint(xs) {
    height: 100px;
    padding: 0 15px;
  }

  @include breakpoint(sm) {

    display: flex;
    flex-direction: row;
    height: 66px;
    justify-content: space-between;
    padding: 0 15px 0 45px;

    &::before {
      background-image: url($site-rainbow);
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 115px 96px;
      content: '';
      height: 96px;
      left: 0;
      position: absolute;
      top: 0;
      width: 115px;
      z-index: 20;
    }

  }

}

.admin-bar .page-banner::before {

  top: 46px;

  @include breakpoint(wp-toolbar) {
    top: 32px;
  }

}

.page-nav {

  display: flex;
  flex-basis: 250px;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  min-width: 250px;

  @include breakpoint(sm) {
    margin-top: 14px;
    max-width: 450px;
  }

  .site-search-form {
    flex-basis: 125px;
    flex-grow: 1;
  }

}

.page-logo {

  background-image: url($site-logo-small);
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 300px 44px;
  height: 44px;
  margin: 0;
  padding: 12px 0 0 0;

  @include breakpoint(sm) {
    background-image: url($site-logo);
    background-position: 6px 12px;
    background-size: 300px 44px;
    flex-basis: 430px;
    height: 52px;
  }

  a {

    display: block;
    height: 49px;
    min-width: 300px;

    span {
      visibility: hidden;
    }

  }

}
