// Order

.order-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.order-container {
  background-color: $white;
  border-radius: 10px;
  display: inline-block;
  padding: 3px;
}

.order-button {

  background-color: $header-level-2-color;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 250;

  ul {

    background-color: $white;
    display: none;
    font-size: 18px;
    left: -3px;
    list-style-type: none;
    margin: 0;
    padding: 5px 3px;
    position: absolute;
    text-align: left;
    width: 100%;
  }

  li {

    margin: 0;

    &:hover {
      background-color: $lightest-grey;
    }

  }

  a {
    background-image: url($handbook-order-arrow);
    background-position: center right;
    background-repeat: no-repeat;
    display: block;
    margin-right: 8px;
    padding: 0 10px;
    text-decoration: none;
  }

  &.open {

    ul {
      display: block;
    }

  }

}

.order-button-link {
  color: $white;
  cursor: pointer;
  font-size: 18px;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0 10px;
}
