// Sidebar

.sidebar .handbook-sidebar-ad {
  img {
    max-width: 100% !important;
  }
}

.widget {

  font-size: 0.95em;
  margin: 0 0 2em 0;

  h4 {
    color: $palette-maroon;
    border-bottom: solid 1px $palette-orange;
    font-size: 1.1em;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.sidebar .tagcloud a {
  border: 0;
  color: $page-link-color;
  display: block;
  float: none;
  padding: 0;

  &:hover {
    color: $page-link-hover-color;
  }
}
