// Sidebar

.widget {

  font-size: 0.95em;
  margin: 0 0 2em 0;

  h4 {
    border-color: $sidebar-header-underline-color;
    border-style: solid;
    border-width: 0 0 2px;
    color: $palette-dark;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.sidebar {
  .tagcloud {
    a {
      border: 0;
      color: $page-link-color;
      display: block;
      float: none;
      padding: 0;

      &:hover {
        color: $page-link-hover-color;
      }
    }
  }
}
