// Colors

// Page colors
$home-background-color: #efefef;

// Navigation
$nav-background-color: $white;
$nav-text-color: $black;

// Generic background colors
$background-light-grey: #eee;

// Header colors
$header-level-1-color: #2b2b81;
$header-level-2-color: #604;
$header-level-3-color: #c6401d;
$header-run-in-color: #203232;

// Border colors
$border-light-grey: #ccc;

// Input colors
$input-border-color-light: #ccc;
$input-border-color-dark: #999;
$input-border-color-active: #c6401d;

// Footer Colors
$footer-background-color: #222;
$footer-text-color: #eee;
