// Colors

// Color palette
$palette-blue: #2b2b81;
$palette-maroon: #604;
$palette-orange: #c6401d;
$palette-slate: #203232;
$palette-pale-yellow: #fff6e2;
$palette-dark: #222;
$palette-hilite: #bdf;

// Page colors
$home-background-color: #efefef;

// Navigation
$nav-background-color: $white;
$nav-text-color: $black;

// Generic background colors
$background-light-grey: #eee;

// Header colors
$header-level-1-color: $palette-maroon;
$header-level-2-color: $palette-maroon;
$header-level-3-color: $palette-dark;
$header-run-in-color: $palette-slate;

// Border colors
$border-light-grey: #ccc;

// Input colors
$input-border-color-light: #ccc;
$input-border-color-dark: #999;
$input-border-color-active: #999;

// Footer Colors
$footer-background-color: #222;
$footer-text-color: #eee;
