// Inline base64-encoded images (Data URIs)

$facebook-icon: '../images/social-icon-facebook.png';
$linkedin-icon: '../images/social-icon-linkedin.png';
$twitter-icon: '../images/social-icon-twitter.png';

$mla-logo: '../images/mla-logo.png';
$site-logo: '../images/style-center.png';
$site-logo-small: '../images/style-center-small.png';
$site-rainbow: '../images/handbook-rainbow.png';

$handbook-cover: '../images/handbook-now-available.png';
$handbook-sidebar-ad: '../images/bookcovers-sidebar.png';

$faq-sidebar-ad: '../images/faq-sidebar-ad.png';

$tile-placeholder-about: '../images/tile-placeholder-about.jpg';
$tile-placeholder-blog: '../images/tile-placeholder-blog.jpg';
$tile-placeholder-faq: '../images/tile-placeholder-faq.jpg';
$tile-placeholder-teaching: '../images/tile-placeholder-teaching.jpg';
$tile-placeholder-works-cited: '../images/tile-placeholder-works-cited.jpg';

$citation-image-icon: '../images/citation-image-icon.png';
$citation-background-left: '../images/citation-background-left.png';
$citation-background-right: '../images/citation-background-right.png';

$author-photo-carr: '../images/author-photo-carr.jpg';
$author-photo-foasberg: '../images/author-photo-foasberg.jpg';
$author-photo-gibson: '../images/author-photo-gibson.jpg';
$author-photo-wirth: '../images/author-photo-wirth.jpg';
$author-photo-woods: '../images/author-photo-woods.jpg';
$author-photo-kandel: '../images/author-photo-kandel.jpg';
$author-photo-latimer: '../images/author-photo-latimer.jpg';
$author-photo-rappaport: '../images/author-photo-rappaport.jpg';
$author-photo-guest: '../images/author-photo-guest.jpg';
$author-photo-suffern: '../images/author-photo-suffern.jpg';
