// Inline base64-encoded images (Data URIs)

$search-icon: '../images/search-icon.png';
$search-icon-active: '../images/search-icon-active.png';

$facebook-icon: '../images/social-icon-facebook.png';
$linkedin-icon: '../images/social-icon-linkedin.png';
$twitter-icon: '../images/social-icon-twitter.png';

$mla-logo: '../images/mla-logo.png';
$site-logo: '../images/style-center.png';
$site-logo-small: '../images/style-center-small.png';
$site-rainbow: '../images/handbook-rainbow.png';

$handbook-cover: '../images/handbook-now-available.png';
$handbook-sidebar-ad: '../images/handbook-sidebar-ad.jpg';

$tile-placeholder: '../images/tile-placeholder.jpg';
$tile-placeholder-about: '../images/tile-placeholder-about.jpg';
$tile-placeholder-blog: '../images/tile-placeholder-blog.jpg';
$tile-placeholder-teaching: '../images/tile-placeholder-teaching.jpg';
$tile-placeholder-understanding: '../images/tile-placeholder-understanding.jpg';

$citation-image-icon: '../images/citation-image-icon.png';
