// Behind The Style

.category-behind-the-style {
  .halves {
    display: flex;
  }

  .loop-2,
  .loop-3 {
    flex: 1;
  }

  .loop-2 {
    margin-right: 1em;
  }

  .loop-3 {
    margin-left: 1em;
  }

  h1 {
    position: relative;
  }

  .tile-tag {
    display: inline;
    font-size: 0.5em;
    position: initial;
    text-transform: uppercase;
    vertical-align: middle;

    &::before {
      margin-right: 0.5em;
    }
  }
}
