// Behind The Style

.category-behind-the-style .no-post-author {
  @include breakpoint(md) {
    .halves {
      display: flex;

      .article:last-sibling {
        margin-left: 1em;
      }
    }

    .loop-2,
    .loop-3 {
      flex: 1;
    }

    .loop-2 {
      margin-right: 1em;
    }

    h1 {
      position: relative;
    }
  }
}
