// Tiles

$tile-link-color: $palette-blue;

.home {

  background-color: $home-background-color;

  .block-main {
    flex-basis: 100%;
  }

  .content {

    margin: 0 auto;
    max-width: 60em;
    padding: 1em 0.5em;

    @include breakpoint(xs) {
      padding: 1em;
    }

  }

  .page {

    align-items: stretch;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint(xs) {
      display: flex;
    }

  }

  .page-menu {
    display: none;
  }

}

.tile {

  box-sizing: border-box;
  margin: 0 0 1em 0;
  position: relative;

  @include breakpoint(xs) {
    flex-basis: 50%;
    min-height: 320px;
  }

  @include breakpoint(sm) {
    min-height: 260px;
  }

  @include breakpoint(md) {

    flex-basis: 33.3%;

    .overflow {
      display: block;
    }

  }

}

.tile-link,
.order-link,
.tile-image,
.tile-body {

  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  top: 0;

  @include breakpoint(xs) {
    position: absolute;
  }

  &:hover {
    text-decoration: none;
  }

}

.tile-link {

  @include material-plus-one;
  border-top: solid 8px $tile-link-color;
  left: 0.5em;
  right: 0.5em;

  strong {
    transition: background-color 0.2s ease-in-out;
  }

  &:hover strong {
    background-color: $palette-hilite;
    border-radius: 4px;
  }

}

.tile-image {
  background-image: url($tile-placeholder);
  background-position: 0 0;
  background-repeat: no-repeat;
  filter: grayscale(20%);
  opacity: 0.85;
  transition: opacity 0.2s ease-in-out;
  z-index: 50;
}

.tile-body {

  background-color: $white;
  color: $tile-link-color;
  padding: 1.3em 1em 0.5em 1em;
  z-index: 100;

  h3 {
    color: $tile-link-color;
  }

  p {
    color: $tile-link-color;
  }

}

.tile-featured {

  @include breakpoint(xs) {

    .tile-link {
      border-top: 0;
    }

    .tile-body {
      border-top: solid 1px $lightest-grey;
      margin-top: 125px;
      padding-top: 0.9em;
    }

    &:hover .tile-image {
      filter: none;
      opacity: 1;
    }

  }

}

.tile-wide {

  @include breakpoint(md) {

    .tile-body {
      border-right: solid 1px $lightest-grey;
      border-top: 0;
      margin-right: 50%;
      margin-top: 0;
    }

    .tile-image {
      background-position: right 0;
    }

  }

}

.tile-buy {

  background-color: transparent;
  background-image: url($handbook-cover);
  background-position: center 40px;
  background-repeat: no-repeat;
  background-size: 250px 152px;
  border-top: 0;

  @include breakpoint(sm) {
    background-position: center 10px;
    background-size: 300px 183px;
  }

}

.order-button-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.order-button {
  @include material-plus-one;
  font-weight: $default-font-bold;
}

.tile-citation {

  @include breakpoint(md) {
    flex-basis: 66.6%;
  }

  .tile-image {
    background-image: url($tile-placeholder-understanding);
  }

}

.tile-about {

  .tile-image {
    background-image: url($tile-placeholder-about);
    background-position: 0 -80px;
  }

}

.tile-blog {

  .tile-image {
    background-image: url($tile-placeholder-blog);
  }

}

.tile-teaching {

  .tile-image {
    background-image: url($tile-placeholder-teaching);
    background-position: -5px -140px;
  }

}

