// Tiles

$tile-link-color: $header-level-1-color;

.home {

  background-color: $home-background-color;

  .content {
    display: block;
    margin: 0 auto;
    max-width: 60em;
    padding: 1.5em;
  }

  .page {
    align-items: stretch;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-menu {
    display: none;
  }

}

.homepage-tile {

  box-sizing: border-box;
  flex-basis: 100%;
  margin: 0 0 2em 0;
  min-height: 350px;
  padding: 0.5em;

  @include breakpoint(sm) {
    flex-basis: 48%;
  }

  @include breakpoint(lg) {

    flex-basis: 31%;
    padding: 1em;

    .overflow {
      display: block;
    }

  }

  img {
    height: auto;
    max-width: 280px;
  }

}

.sidebar-tile {

  margin-bottom: 1em;
  padding: 1em;

  img {
    height: auto;
    max-width: 280px;
  }

}

.tile-link,
.tile-content {
  background-color: $white;
  border: solid 2px $tile-link-color;
  position: relative;
}

.tile-link {

  &:hover {

    background-color: $tile-link-color;

    .tile-link-head {
      color: $white;
      text-decoration: none;
    }

    .tile-body {
      color: $white;
    }

  }

}

.tile-head,
.tile-link-head {
  font-size: 1.2em;
  font-weight: $default-font-bold;
  line-height: 1.2em;
  margin: 0;
  padding: 0.3em 0;
}

.tile-link-head {
  bottom: 0;
  color: $tile-link-color;
  display: block;
  left: 0;
  padding: 0.75em 0.5em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.tile-body {
  bottom: 0;
  color: $tile-link-color;
  left: 1em;
  position: absolute;
  right: 1em;
  z-index: 10;
}

.tile-content {

  background-color: $light-grey;
  border-color: $light-grey;

  .tile-body {
    color: $tile-link-color;
  }

}

.tile-alternate {

  border-color: $tile-link-color;

  .tile-link-head {
    color: $tile-link-color;
  }

  .tile-body {
    color: $tile-link-color;
  }

  &:hover {
    background-color: $tile-link-color;

    .tile-link-head {
      color: $white;
    }

    .tile-body {
      color: $white;
    }

  }

}

.tile-citation {
  @include breakpoint(lg) {
    flex-basis: 65%;
  }
}

.tile-buy {
  background-color: transparent;
  background-image: url($handbook-cover);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 280px 280px;
  border: 0;
  text-align: center;
}
