// Tiles

$tile-link-color: $header-level-1-color;

$tile-alpha-color-1: rgba(0, 0, 0, 0.12);
$tile-alpha-color-2: rgba(0, 0, 0, 0.24);
$tile-alpha-color-3: rgba(0, 0, 0, 0.2);
$tile-alpha-color-4: rgba(0, 0, 0, 0.25);

.home {

  background-color: $home-background-color;

  .block-main {
    flex-basis: 100%;
  }

  .content {

    margin: 0 auto;
    max-width: 60em;
    padding: 1em 0.5em;

    @include breakpoint(xs) {
      padding: 1em;
    }

  }

  .page {

    align-items: stretch;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @include breakpoint(xs) {
      display: flex;
    }

  }

  .page-menu {
    display: none;
  }

}

.tile,
.tile-group {

  box-sizing: border-box;
  margin: 0 0 1em 0;
  position: relative;

  @include breakpoint(xs) {
    flex-basis: 50%;
    height: 320px;
  }

  @include breakpoint(md) {

    flex-basis: 33.3%;

    .overflow {
      display: block;
    }

  }

}

.tile-link,
.tile-image,
.tile-body {

  bottom: 0;
  display: block;
  left: 0;
  right: 0;
  top: 0;

  @include breakpoint(xs) {
    position: absolute;
  }

  &:hover {
    text-decoration: none;
  }

}

.tile-link {

  border-top: solid 8px $tile-link-color;
  box-shadow: 0 1px 3px $tile-alpha-color-1, 0 1px 2px $tile-alpha-color-2;
  left: 0.5em;
  right: 0.5em;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 5px 10px $tile-alpha-color-3, 0 3px 3px $tile-alpha-color-4;
  }

}

.tile-image {
  background-image: url($tile-placeholder);
  background-position: -15px 0;
  background-repeat: no-repeat;
  filter: grayscale(20%);
  opacity: 0.85;
  transition: opacity 0.2s ease-in-out;
  z-index: 50;
}

.tile-body {

  background-color: $white;
  color: $tile-link-color;
  padding: 1.3em 1em 0.5em 1em;
  z-index: 100;

  h3 {
    color: $tile-link-color;
  }

  p {
    color: $tile-link-color;
  }

}

.tile-featured {

  @include breakpoint(xs) {

    .tile-link {
      border-top: 0;
    }

    .tile-body {
      border-top: solid 1px $lightest-grey;
      margin-top: 130px;
    }

    &:hover .tile-image {
      filter: none;
      opacity: 1;
    }

  }

}

.tile-wide {

  @include breakpoint(md) {

    .tile-body {
      border-right: solid 1px $lightest-grey;
      border-top: 0;
      margin-right: 50%;
      margin-top: 0;
    }

    .tile-image {
      background-position: right 0;
    }

  }

}

.tile-faq {
  @include breakpoint(md) {
    height: 200px;
    margin-bottom: 10px;
  }
}

.tile-submit {

  height: 110px;

  .tile-body {
    padding-top: 1em;
  }

}

.tile-buy {

  background-color: transparent;
  background-image: url($handbook-cover);
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 260px 260px;
  border-top: 0;
  height: 320px;
  text-align: center;

  .tile-body {
    color: $tile-link-color;
  }

}

.tile-citation {
  @include breakpoint(md) {
    flex-basis: 66.6%;
  }
}
