// Questions and Answers

.category-questions-and-answers {
  .faq-search {
    background-color: $home-background-color;
    margin-bottom: 1em;
    padding: 1em;

    h3 {
      font-weight: normal;
    }
  }
}
