// Sample papers

.sample-paper {

  clear: left;

  label {
    font-size: 1em;
    font-weight: $default-font-bold;
  }

  p {
    padding-left: calc(106px + 2em);
  }
}

.sample-paper-link {

  border: solid 3px $page-link-color;
  display: block;
  float: left;
  font-weight: $default-font-bold;
  height: 133px;
  line-height: 145px;
  margin: 0 2em 2em 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100px;

  &::before {
    background-color: $page-link-color;
    border-left: 30px solid $page-link-color;
    border-top: 30px solid $white;
    content: '';
    display: block;
    position: absolute;
    right: -3px;
    top: -3px;
  }

  &:hover .pdf-label {
    background-color: $page-link-color;
    color: $white;
  }
}

.pdf-label {
  border: solid 2px $page-link-color;
  border-radius: 6px;
  padding: 3px 5px;
}
