// Search

$search-field-background-color: $white;
$hilite-background-color: #ff9;

// Element selector needed to override Normalize.css.
// scss-lint:disable QualifyingElement
input[type="search"] {
  box-sizing: border-box;
}
// scss-lint:enable QualifyingElement

.site-search-form {
  margin: 0;
  position: relative;

  .icon-search::before {
    color: $light-grey;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 10;
  }
}

.search-field {

  background-color: $search-field-background-color;
  border: solid 1px $input-border-color-light;
  border-radius: 8px;
  font-size: 16px;
  font-weight: $default-font-normal;
  padding: 5px 30px 5px 10px;
  text-overflow: ellipsis;

  @include breakpoint(xs) {
    padding: 9px 30px 8px 10px;
  }

  &:hover,
  &:focus {
    border-color: $input-border-color-active;
    outline: none;
  }

}

.search-submit {
  display: none;
}


// Search results

.main-search {

  padding: 0 0.5em;

  @include breakpoint(lg) {

    background-color: $background-light-grey;
    padding: 0 1em;

    .overflow {
      display: block;
    }

  }

  h4 {
    color: $dark-grey;
    font-size: 2em;
    line-height: 1.2em;
    padding-top: 0.25em;
  }

  form,
  fieldset {
    margin: 0;
  }

  &:hover {
    h4 {
      color: $black;
    }
  }

}

.instructions {
  font-size: 1.1em;
  font-weight: $default-font-bold;
  line-height: 1.25em;
  margin: 0.75em 0 0 0;
}

.new {
  margin-top: 1.25em;
}


.search-result {

  border-bottom: solid 1px $border-light-grey;
  margin: 0.5em 0;
  padding: 1em 0 0.5em 0;

  h3 {
    margin-top: 0;
  }

}

.search-results-from-the-book {

  background-color: $background-light-grey;
  margin-top: 0.75em;
  padding: 0.5em 0.75em;

  @include breakpoint(lg) {

    background-color: $white;
    border: solid 2px $border-light-grey;
    margin: 1em;
    padding: 1em;

    h4 {
      margin-top: 0;
    }

    .gloss {
      font-size: 0.9em;
    }

    .underflow {
      display: none;
    }

    .overflow {
      display: block;
    }

  }

  p {
    margin: 0.5em 0 0.25em 0;
  }

  .buy-the-book {
    margin-top: 1.5em;
  }

}

.excerpt {

  color: $dark-grey;

  .hilite {
    background-color: $hilite-background-color;
    color: inherit;
    padding: 2px 3px;
  }

}

.search-results-title .hilite {
  background-color: transparent;
  color: inherit;
}

.book-ref {
  line-height: 1.3em;
  margin-bottom: 0.75em;
}
