// Teaching Resources

.instructor-tile {
  max-width: 600px;

  .tile-link {
    border: solid 1px $lightest-grey;
    display: flex;
    flex-direction: row;
    position: static;
  }
}

.author-photo {
  flex-grow: 0;
  margin-right: 1.5em;
  min-width: 140px;
  position: relative;

  &::before {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 140px;
    border: solid 1px $grey;
    border-radius: 50%;
    content: '';
    height: 140px;
    left: 0;
    position: absolute;
    top: 0;
    width: 140px;
  }
}

.author-photo-carr::before {
  background-image: url($author-photo-carr);
}

.author-photo-foasberg::before {
  background-image: url($author-photo-foasberg);
}

.author-photo-gibson::before {
  background-image: url($author-photo-gibson);
}

.author-photo-wirth::before {
  background-image: url($author-photo-wirth);
}

.author-photo-woods::before {
  background-image: url($author-photo-woods);
}

.author-photo-kandel::before {
  background-image: url($author-photo-kandel);
}

.author-photo-latimer::before {
  background-image: url($author-photo-latimer);
}

.author-photo-rappaport::before {
  background-image: url($author-photo-rappaport);
}

.author-photo-guest::before {
  background-image: url($author-photo-guest);
}

.author-photo-suffern::before {
  background-image: url($author-photo-suffern);
}

.author-role {
  background-color: $white;
  border: solid 1px $lightest-grey;
  border-radius: 5px;
  color: $dark-grey;
  font-size: 0.9em;
  left: 1.2em;
  position: absolute;
  text-align: center;
  top: 170px;
  width: 140px;
  z-index: 10;
}

.instructor-tile-small {
  margin-top: 2em;

  p {
    margin: 0;
  }

  .tile-link {
    border-color: $light-grey;
    border-radius: 0.8em;
    box-shadow: none;
    min-height: 102px; // 100px photo height + 2px border
  }

  .author-photo {
    min-width: 100px;

    &::before {
      background-size: 100px 100px;
      height: 100px;
      width: 100px;
    }
  }
}

.author-meta-foasberg,
.author-meta-woods {
  display: none;
}

.teaching-resources {
  .author-photo::before {
    border: 0;
    border-radius: 0;
  }

  .author-role {
    background: $palette-maroon;
    border: 0;
    border-radius: 0;
    color: $white;
    left: 0;
    opacity: 0.95;
    top: 120px;
    transition: opacity 0.2s ease-in-out;

    @include breakpoint(sm) {
      top: 117px;
    }
  }

  .tile-link {
    border: 0;
    box-shadow: none;
    min-height: 180px;

    &:hover .author-role {
      opacity: 1;
    }
  }

  .instructor-tile {
    font-size: 0.9em;
    line-height: 1.5em;
    min-height: 135px;

    .author-role {
      font-size: 1.1em;
    }
  }
}

.single .tile-body p {
  display: block;
}

.tr-title {
  font-family: "Lexia";
}

.sections-container {
  .open-category {
    display: none;
  }

  .post_links {
    line-height: 1.2;
    a {
      margin: 0 3px;
    }
  }

  p {
    margin-bottom: 0px;
    height: auto;
  }

  .style {

    &.open img {
      border-bottom: none;
    }

    margin-bottom: 17px;

    .open-category {
      border-bottom: 2px solid #CF8A83;
    }

    img {
      border: 2px solid #CF8A83;
      max-width: 100%;
    }

    ul {
      padding-left: 0;
      margin-top: -9px;
      border-left: 2px solid #CF8A83;
      border-right: 2px solid #CF8A83;
      margin-bottom: 0;
      overflow: hidden;
      list-style-type: none;
      width: 100%;

      li {
        float:left;
        padding: 5px 10px;
        overflow: hidden;
        width: 30%;
        height: 245px;
        text-align: center;
        font-size: 13px;

        .post_excerpt {
          text-align: left !important;
          margin-bottom: 5px;
        }

        p {
          line-height: 1.2;
        }

        h4 {
          line-height: 1.2;
        }

        img {
          border: none;
        }
      }
    }

  }

  .research {

    &.open img {
      border-bottom: none;
    }

    margin-bottom: 20px;

    .open-category { 
      border-bottom: 2px solid #8586b0;
      border-left: 2px solid #8586b0;
      border-right: 2px solid #8586b0;
      width: 100%;
    }

    img {
      border: 2px solid #8586b0;
      max-width: 100%;
    }

    ul {
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden;
      width: 100%;

      li {
        list-style-type: none;
        float:left;
        padding: 5px;
        width: 30%;
        text-align: center;
        font-size: 13px;

        .post_excerpt {
          text-align: left !important;
          margin-bottom: 5px;
        }

        p {
          line-height: 1.2;
        }

        h4 {
          line-height: 1.2;
        }

        img {
          border: none;
        }
      }  
    }

    .resources_row_1 {
      padding: 0 10px;
      margin-bottom: 10px;
      ul {
        background-color: #f6f6f5;
        padding-bottom: 10px;
      }
    }

    .research_description {
      padding: 20px 15px;
      background-color: #f6f6f5;
      margin-top: 20px;

      p {
        font-size: 13px;
        line-height: 1.2;
      }
    }

    .bibliography_resources {
      margin-top: -8px;
      padding: 20px 10px 0 10px;

      img {
        border: none;
        text-align: center;
        display: block;
        margin: 0 auto;
      }
    }

  }

  .writing {

    &.open img {
      border-bottom: none;
    }

    font-size: 14px;
    line-height: 1.2;


    .tr-content {
      border-left: 2px solid #968999;
      border-right: 2px solid #968999;
      padding: 10px;
      p {
        margin-top: -7px;
        padding: 10px;
      }
    }

    img {
      border: 2px solid #968999;
      max-width: 100%;
    }

    .open-category { 
      margin-top: -5px;
      border-bottom: 2px solid #968999;
    }

    ul {
      padding-left: 0;
      margin-top: -9px;
      border-left: 2px solid #968999;
      border-right: 2px solid #968999;
      margin-bottom: 0;
      overflow: hidden;
      width: 100%;

      li {
        list-style-type: none;
        float:left;
        padding: 10px;
        width: 30%;
        height: 250px;
        text-align: center;
        font-size: 13px;

        .post_excerpt {
          text-align: left !important;
          margin-bottom: 5px;
        }

        p {
          line-height: 1.2;
        }

        h4 {
          line-height: 1.2;
        }

        img {
          border: none;
        }
      }
    }

  }

}

@media (min-width: 678px) and (max-width: 765px) {

  .style, .research, .writing {
    width: 604px;  
  }

  .writing {
    margin-bottom: 20px;
  }

  .sidebar {
    width: 604px;
  }

}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  
  .style {
    ul li {
      width: 40% !important;
      height: 250px !important;
    }
  }

  .research .resources_row_2 {
    li {
      width: 40% !important;
      padding: 0 10px !important;
    }
  }

}

@media (min-width: 320px) and (max-width: 480px) {

    .style {
      ul li {
        width: 40% !important;
        height: 310px !important;
      }
    }
 
    .research .resources_row_2 {
      li {
        width: 40% !important;
        padding: 0 10px !important;
      }
    }

}

.category-style {

  &.category-teaching-resources .post-thumbnail {
    display: none;
  }

}