// Print styles

@media print {

  @page {
    margin: 0.25in;
    padding: 0;
    size: 8.5in 11in;
  }

  body {
    height: 9.5in;
    margin: 0 auto;
    padding: 0.5in;
    width: 7in;
  }

  thead {
    display: table-header-group;
  }

  img {
    max-width: 100%;
  }

  // Avoid breaks
  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3,
  h4 {
    orphans: 3;
    widows: 3;
  }

  .print-show {
    display: block;
  }

  .print-remove {
    display: none;
  }

  .print-visible {
    visibility: visible;
  }

  .print-hidden {
    visibility: hidden;
  }

}
