// Headers

%header {

  line-height: 1.3em;
  margin: 1.2em 0 0.5em 0;

  @include breakpoint(md) {
    line-height: 1.3em;
  }

  &:first-child {
    margin-top: 0;
  }

}

h1 {
  @extend %header;
  font-size: 2em;
  margin: 1em 0 0.5em 0;
}

h2 {
  @extend %header;
  font-size: 1.6em;
}

h3 {
  @extend %header;
  font-size: 1.4em;
}

h4,
h5 {
  @extend %header;
  font-size: 1.2em;
  margin: 0.5em 0;
}
