// Tables

table {
  border: 0;
  border-bottom: 2px solid $grey;
  border-radius: 3px;
}

thead th {
  font-weight: $default-font-bold;
  text-align: left;
}

td,
th {
  border: 0;
  padding: 3px 1.25em 3px 0;
}

th {
  border-bottom: 1px solid $grey;
  color: $black;
}

tbody tr:nth-child(2n+1) td {
  background-color: transparent;
}

tbody tr:hover {
  background-color: $lightest-grey;
}
