// Layout containers

.content {

  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 1em 1em 1em;

  @include breakpoint(xs) {
    padding: 2em;
  }

  @include breakpoint(sm) {
    padding: 3.5em 2em 2em 2em;
  }

  @include breakpoint(sm) {
    display: flex;
  }

}

.block-main {
  flex-basis: 60%;
}

.sidebar {

  border-top: solid 1px $grey;
  clear: left;
  flex-basis: 30%;
  padding-top: 1em;

  @include breakpoint(sm) {
    border-top: 0;
    margin-left: 2em;
    padding: 0 0.5em 0.5em 0.5em;
  }

}

.missing-text {
  background-color: $palette-hilite;
}

#hcommons-network-footer {
  display: none;
}
